.cards-container {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    /* border: 1px solid black; */
}

.avenger-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 250px;
    margin: 70px 30px;
    padding: 20px;
    background-color: blanchedalmond;
    border: 2px solid bisque;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px rgba(255, 254, 250, 0.5);
}

.avenger-card img {
    width: 100%;
    border-radius: 15px;
    height: 150px;
    margin-top: 15px;
}

.avenger-name,
.character {
    font-size: larger;
    font-weight: bold;
    margin-top: 15px;
}

.superpowers {
    font-size: large;
    margin-top: 15px;
    flex: 1 1 auto;
}

.avenger-card button {
    width: 70%;
    height: 30px;
    font-size: medium;
    margin: 15px auto 5px auto;
    border-radius: 10px;
    border: 2px solid bisque;
}